<div class="tmdb-pagination">
    <a style="text-decoration: none;" class="tmdb-button tmdb-firstpage" href="javascript:;" target="_self" onclick="return false"> <%= __('top') %></a>
    <a style="text-decoration: none;" class="tmdb-button tmdb-previouspage" href="javascript:;" target="_self" onclick="return false"><%= __('prev') %></a>
    <span class="tmdb-pagenum"></span>
    <a style="text-decoration: none;" class="tmdb-button tmdb-nextpage" href="javascript:;" target="_self" onclick="return false"><%= __('next') %></a>
    <a style="text-decoration: none;" class="tmdb-button tmdb-lastpage" href="javascript:;" target="_self" onclick="return false"><%= __('end') %></a>
</div>